<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="codeCampNyc" connectionString="mongodb://localhost/codeCampNYC"/>
	</connectionStrings>
	<system.web>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
