<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="codeCampNyc" connectionString="mongodb://localhost/NYSThruway"/>
	</connectionStrings>
	<system.web>
		<compilation targetFramework="4.0" debug="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="HelloWorld.Service.ConsoleService">
				<endpoint address="JSON" binding="webHttpBinding" contract="HelloWorld.Service.IConsoleService" behaviorConfiguration="jsonBehavior"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="jsonBehavior">
					<enableWebScript/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
